<h1>Meine Aufgaben</h1>
<p>Neue Aufgaben eintragen</p>
<%= link_to 'Neue Aufgabe erstellen', new_item_path, class: 'btn btn-primary' %>
<hr/>
<p>
  <% @items.each do |item| %>
      <h3><%= link_to item.title, item %></h3>
      <p><%= item.description %></p>

  <% end %>
</p>



